asgiref==3.2.3
autopep8==1.5
bcrypt==3.1.7
beautifulsoup4==4.8.2
cffi==1.14.0
Django==3.1.13
django-appconf==1.0.3
django-bootstrap4==1.1.1
django-compressor==2.4
django-static-precompiler==1.8.2
django-unused-media==0.1.13
libsass==0.19.4
Pillow==7.0.0
pycodestyle==2.5.0
pycparser==2.19
pytz==2019.3
rcssmin==1.0.6
rjsmin==1.1.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
style==1.1.0
update==0.0.1
