@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:200i');
/* FONTS */

* {
    font-family: 'Questrial', sans-serif;
}

:root {
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    display: flex;
    justify-content: center;
}

.text-box {
    position: absolute;
    top: 20px;
    left: 24px;
}

#just-text {
    position: absolute;
    left: 24px;
    bottom: 14px;
}

.h-full {
    height: 100vh;
}

.w-80 {
    width: 80%;
}

.bg-trans {
    background-color: rgba(0, 0, 0, 0.5);
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

#select {
    border-radius: 0;
}

#dojoafterdark {
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 40px;
    border: 0.4rem solid #fff;
    border-radius: 1.25rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

#dojoafterdark::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#dojoafterdark::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#dojoafterdark:focus {
    outline: none;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 0rem var(--neon-text-color), 0 0 0rem var(--neon-text-color), 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color);
        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 0rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color), 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color);
    }
    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}