@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* FONTS */

* {
    font-family: 'Questrial', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    border-style: none;
    white-space: nowrap;
}

.bottom-left {
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

#select {
    border-radius: 0;
}

img {
    object-fit: cover;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}