<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
    <title>Lost&Found</title>
</head>

<body>
    <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-md-5 col-sm-12 bg-light h-full p-0 m-0 text-center align-items-center">
                <ul class="list-inline w-75">
                    <li>
                        <h1 class="font-weight-bold">Lost&Found</h1>
                        <p>Powered by Coding Dojo</p>
                    </li>
                    <li class="my-5">
                        "A missing item finder app that will help users find their glasses, keys, wallet, socks and
                        other items that they put somewhere and then forget where they actually placed them. One way to
                        do this is
                        taking a pic with your phone each time you place such an item so that you can look at the pic if
                        you forget about it later."
                    </li>
                    <li>
                        <img class="text-center img-fluid" src="{% static 'forget-things.gif' %}" alt="">
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12 h-full p-0 m-0 text-center align-items-center">
                <ul class="list-inline text-center w-75">
                    <li>
                        <form action="login" method="POST" class="text-center">
                            {% csrf_token %}
                            <h2 class="mb-3">Welcome, Sign In!</h2>
                            <input name="email" type="email" class="form-control p-4 rounded-0 my-1" placeholder="Email"
                                required>
                            <input name="password" type="password" class="form-control p-4 rounded-0 my-1"
                                placeholder="Password" required>
                            <input type="submit" class="btn btn-secondary px-4 py-2 rounded-0 mt-3" name="login"
                                value="Sign In">
                        </form>
                    </li>
                    <li>
                        <form action="register" method="POST" class="text-center mx-auto mt-5">
                            {% csrf_token %}
                            <h5 class="mb-3"><span class="text-secondary">Don't have an account?</span> Sign Up.</h5>
                            <input name="name" type="text" class="form-control p-4 my-1 rounded-0" placeholder="Name"
                                required>
                            <input name="email" type="email" class="form-control p-4 my-1 rounded-0" placeholder="Email"
                                required>
                            <input name="password" type="password" class="form-control p-4 rounded-0 my-1"
                                placeholder="Password" required>
                            <input name="confirm_pw" type="password" class="form-control p-4 my-1 rounded-0"
                                placeholder="Confirm Password" required>
                            <input type="submit" class="btn btn-warning d-block px-4 py-2 mx-auto rounded-0 mt-3"
                                name="register" value="Sign Up">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>