<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8199b614e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        function showAll() {
            window.location.href = "/home/all";
        };

        function showMine() {
            window.location.href = "/home/mine";
        };

        $(document).ready(function () {
            $('.found-section').hide();

            $('.type').on('click', function (event) {
                if ($(event.target).hasClass('active')) {
                    return;
                }

                elementID = $(event.target).attr('id');

                if (elementID === "found-btn") {
                    $(`#${elementID}`).addClass('active');
                    $('#lost-btn').removeClass('active');
                    $('.found-section').show();
                    $('.lost-section').hide();
                } else {
                    $(`#${elementID}`).addClass('active');
                    $('#found-btn').removeClass('active');
                    $('.found-section').hide();
                    $('.lost-section').show();
                }
            });
        });
    </script>
    <title>Lost&Found - Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
        <h3 class="m-0 font-weight-bold" href="home">Lost&Found</h3>
        <button class="navbar-toggler mb-md-0 mb-sm-2" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-ellipsis-h"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center mr-auto">
                <li class="nav-item ml-3">
                    <a class="nav-link text-secondary">Hi, {{ user.name }}!</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-light rounded-0 px-3"
                        href="{% if keyword != None %} add {% else %} /home/add {% endif %}">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-warning rounded-0 px-3" href="/home/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row py-5 text-center align-items-center">
            <p class="p-0 m-2">Showing: </p>
            <div class="btn-group m-1" role="group" aria-label="">
                <button id="lost-btn" type="button" class="btn btn-light active rounded-0 type">#missing
                    ({{ lost_items|length }})</button>
                <button id="found-btn" type="button" class="btn btn-light rounded-0 type">#found
                    ({{ found_items|length }})</button>
            </div>
            <div class="btn-group m-1" role="group" aria-label="">
                <button onclick="showAll()" type="button" class="btn btn-light rounded-0 type 
                {% if keyword == "all" %}
                active
                {% endif %}">
                    <p class="m-0">All</p>
                </button>
                <button onclick="showMine()" type="button" class="btn btn-light rounded-0 type
                {% if keyword == "mine" %}
                active
                {% endif %}">
                    <p class="m-0">My Items Only</p>
                </button>
            </div>
        </div>
        <div class="row p-0 lost-section">
            {% for item in lost_items %}
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 fade-in">
                <div class="image-box" style="background-image: url({{ item.image.url }});">
                    <div class="content-box text-center text-light align-items-center">
                        <ul class="list-inline m-0">
                            <li>
                                <p class="mb-2">{{ item.owner.name }} posted:</p>
                            </li>
                            <li>
                                <h1 class="m-0">{{ item.name }}</h1>
                            </li>
                            <li>
                                <p class="mb-3">{{ item.desc }}</p>
                            </li>
                            <li>
                                <a href="{% if keyword != None %}/{% else %}{% endif %}found_item/{{ item.id }}"
                                    class="btn btn-success rounded-0">Found</a>
                                {% if item.owner.id == user.id %}
                                <a href="{% if keyword != None %}/{% else %}{% endif %}remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0"><i class="far fa-trash-alt"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row p-0 found-section">
            {% for item in found_items %}
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 fade-in">
                <div class="image-box" style="background-image: url({{ item.image.url }});">
                    <div class="content-box text-center text-light align-items-center">
                        <ul class="list-inline m-0">
                            <li>
                                <p class="mb-2">{{ item.owner.name }} posted:</p>
                            </li>
                            <li>
                                <h1 class="m-0">{{ item.name }}</h1>
                            </li>
                            <li>
                                <p class="mt-1 mb-3">{{ item.desc }}</p>
                            </li>
                            <li>
                                <p class="bg-success text-light d-inline-block py-1 px-3 mb-1">Found by
                                    {{ item.found_by_whom.name }}</p>
                            </li>
                            <li>
                                {% if item.found_by_whom.id == user.id %}
                                <a href="{% if keyword != None %}/{% else %}{% endif %}unfound_item/{{ item.id }}"
                                    class="btn btn-warning rounded-0">Unfound</a>
                                {% endif %}
                                {% if item.owner.id == user.id %}
                                <a href="{% if keyword != None %}/{% else %}{% endif %}remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0"><i class="far fa-trash-alt"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>