<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    {% load static %}
    {% load my_filters %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <style>
        .image-box {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            padding-top: 75%;
            position: relative;
        }

        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        select:not([multiple]) {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-position: right 50%;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
            padding: .5em;
            padding-right: 1.5em
        }

        #select {
            border-radius: 0;
        }

        .bottom-left {
            position: absolute;
            left: 16px;
            bottom: 16px;
        }

        .bottom-right {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.found-section').hide();

            $('.type').on('click', function (event) {
                if ($(event.target).hasClass('active')) {
                    return;
                }

                elementID = $(event.target).attr('id');

                if (elementID === "found-btn") {
                    $(`#${elementID}`).addClass('active');
                    $('#lost-btn').removeClass('active');
                    $('.found-section').show();
                    $('.lost-section').hide();
                } else {
                    $(`#${elementID}`).addClass('active');
                    $('#found-btn').removeClass('active');
                    $('.found-section').hide();
                    $('.lost-section').show();
                }

                $('#status').text((elementID === "found-btn") ? "#found" : "#missing");
            });

            date = new Date();
            $('.nowtime').text("Today: " + date.toDateString());
        });
    </script>
    <title>Lost&Found - Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
        <h3 class="m-0 font-weight-bold" href="home">Lost&Found</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>•••</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center mr-auto">
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-light rounded-0 px-3" href="/home/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0 m-0">
        <!-- HEADER -->
        <div class="row p-0 m-0 pt-3 text-center align-items-center">
            <ul class="list-inline m-0 p-1">
                <li class="m-0 p-0">
                    <ul class="list-inline m-0 p-4">
                        <li class="list-inline-item m-0 p-0 align-middle">
                            <img class="rounded-circle border border-light" width="180" height="180"
                                src="{{ user.profile_image.url }}" alt="profile_image">
                        </li>
                        <li class="list-inline-item m-0 p-4 text-center align-middle">
                            <h2 class="m-0">Welcome, {{ user.first_name }}!</h2>
                            <p class="mb-2 text-secondary">({{ user.level }})</p>
                            <p class="m-0">Coding Dojo ({{ user.campus }})</p>
                            <p class="nowtime m-0"></p>
                        </li>
                        <li class="list-inline-item m-0 py-4 px-3 text-center align-middle">
                            <p>I have:</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h1 class="m-0 font-weight-bold">
                                                {{ items|missing|at_campus:user.campus|mine:user|length }}</h1>
                                        </li>
                                        <li class="text-danger">#missing</li>
                                    </ul>
                                </li>
                                <li class="list-inline-item">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h1 class="m-0 font-weight-bold">
                                                {{ items|found|at_campus:user.campus|mine:user|length }}</h1>
                                        </li>
                                        <li class="text-success">#found</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="m-0 p-0">
                    <ul class="list-inline m-0 p-0">
                        <li class="list-inline-item m-1">
                            <a class="btn btn-lg btn-warning rounded-0 px-3 py-2 m-0"
                                href="{% if keyword != None %} add {% else %} /home/add {% endif %}">
                                <span class="mr-1">[&#43;]</span>
                                <span>Add Item</span>
                            </a>
                        </li>
                        <li class="list-inline-item m-1">
                            <div class="btn-group m-0" role="group" aria-label="">
                                <button id="lost-btn" type="button" class="btn btn-light active rounded-0 type">#missing
                                    ({{ items|missing|at_campus:user.campus|length }})</button>
                                <button id="found-btn" type="button" class="btn btn-light rounded-0 type">#found
                                    ({{ items|found|at_campus:user.campus|length }})</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- BODY -->
        <div class="row py-0 px-4 m-0">
            <h4 class="my-4 px-1">People you may know at your campus</h4>
        </div>
        <div class="row m-0 p-0 pb-4 align-items-center">
            <ul class="list-inline p-0 m-0 pb-3 w-100 h-100 scrolling-wrapper">
                <li class="list-inline-item d-inline-block mx-2"></li>
                <li class="list-inline-item d-inline-block mx-2">
                    <a class="m-0 p-0" href="/home/profile/{{ user.id }}" style="text-decoration: none;">
                        <ul class="list-inline text-center">
                            <li>
                                <img class="rounded-circle m-0 p-0 mb-3 border border-light" width="112.5"
                                    height="112.5" src="{{ user.profile_image.url }}" alt="">
                            </li>
                            <li>
                                <h6 class="m-0 text-dark">You</h6>
                                <p class="text-secondary m-0">({{ user.level }})</p>
                            </li>
                        </ul>
                    </a>
                </li>
                {% for user_at_campus in users_at_campus %}
                <li class="list-inline-item d-inline-block mx-2">
                    <a class="m-0 p-0" href="home/profile/{{ user_at_campus.id }}" style="text-decoration: none;">
                        <ul class="list-inline text-center">
                            <li>
                                <img class="rounded-circle m-0 p-0 mb-3 border border-light" width="112.5"
                                    height="112.5" src="{{ user_at_campus.profile_image.url }}" alt="">
                            </li>
                            <li>
                                <h6 class="m-0 text-dark">{{ user_at_campus.first_name }}
                                    {{ user_at_campus.last_name }}</h6>
                                <p class="text-secondary m-0">({{ user_at_campus.level }})</p>
                            </li>
                        </ul>
                    </a>
                </li>
                {% endfor %}
                <li class="list-inline-item d-inline-block mx-2"></li>
            </ul>
        </div>
        <!-- CELLS -->
        <div class="row py-0 px-4 m-0">
            <h4 id="status" class="px-1">#missing</h4>
        </div>
        <div class="row pb-5 px-3 m-0 lost-section">
            {% for item in items|missing|at_campus:user.campus %}
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 fade-in">
                <div class="padded-box p-2">
                    <ul class="list-inline m-0 pb-3 pr-3">
                        <a class="m-0 p-0 text-dark" href="/home/profile/{{ item.owner.id }}"
                            style="text-decoration: none; outline: none;">
                            <li class="list-inline-item align-middle mr-2 p-0">
                                <img class="rounded-circle m-0 p-0 border border-light" width="62.5" height="62.5"
                                    src="{{ item.owner.profile_image.url }}" alt="">
                            </li>
                            <li class="list-inline-item align-middle m-0 p-0">
                                <h6 class="m-0 font-weight-bold">@{{ item.owner.first_name }}</h6>
                                <p class="m-0 p-0 text-secondary"><small>Coding Dojo ({{ item.campus }})</small></p>
                            </li>
                        </a>
                        <li class="align-middle mt-3 p-0">
                            <h4 class="m-0">{{ item.name }}</h4>
                            <p class="m-0">{{ item.desc }}</p>
                        </li>
                    </ul>
                    <div class="image-box mb-2"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url({{ item.image.url }});">
                        <div class="content text-light">
                            <div class="bottom-left">
                                <h4 class="text-danger m-0">#missing</h4>
                                <p class="m-0 p-0 text-secondary">
                                    <small>Posted on {{ item.created_at.date }}</small>
                                </p>
                            </div>
                            <div class="text-right bottom-right">
                                <a href="found_item/{{ item.id }}"
                                    class="btn btn-success rounded-0 px-3 py-2">Found</a><br>
                                {% if item.owner.id == user.id %}
                                <a href="remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0 px-3 py-2">Remove</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row pb-5 px-3 m-0 found-section">
            {% for item in items|found|at_campus:user.campus %}
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 fade-in">
                <div class="padded-box p-2">
                    <ul class="list-inline m-0 pb-3 pr-3">
                        <a class="m-0 p-0 text-dark" href="/home/profile/{{ item.owner.id }}"
                            style="text-decoration: none; outline: none;">
                            <li class="list-inline-item align-middle mr-2 p-0">
                                <img class="rounded-circle m-0 p-0" width="62.5" height="62.5"
                                    src="{{ item.owner.profile_image.url }}" alt="">
                            </li>
                            <li class="list-inline-item align-middle m-0 p-0">
                                <h6 class="m-0 font-weight-bold">@{{ item.owner.first_name }}</h6>
                                <p class="m-0 text-secondary"><small>Coding Dojo ({{ item.campus }})</small></p>
                            </li>
                        </a>
                        <li class="align-middle mt-3 p-0">
                            <h4 class="m-0">{{ item.name }}</h4>
                            <p class="m-0">{{ item.desc }}</p>
                        </li>
                    </ul>
                    <div class="image-box mb-2"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url({{ item.image.url }});">
                        <div class="content text-light">
                            <ul class="list-inline bottom-left m-0 p-0">
                                <a class="m-0 p-0 text-light" href="/home/profile/{{ user.id }}"
                                    style="text-decoration: none; outline: none;">
                                    <li class="list-inline-item align-middle mr-2 p-0">
                                        <img class="rounded-circle m-0 p-0" width="52" height="52"
                                            src="{{ item.found_by_whom.profile_image.url }}" alt="">
                                    </li>
                                    <li class="list-inline-item align-middle m-0 p-0">
                                        <h6 class="m-0 font-weight-bold">@{{ item.found_by_whom.first_name }}</h6>
                                        <p class="m-0"><small>Found this item.</small></p>
                                    </li>
                                </a>
                                <li class="m-0 p-0 mt-2">
                                    <p class="text-secondary m-0 p-0"><small>Posted on
                                            {{ item.created_at.date }}</small></p>
                                </li>
                            </ul>

                            <div class="text-right bottom-right">
                                <a href="unfound_item/{{ item.id }}"
                                    class="btn btn-warning rounded-0 px-3 py-2">Unfound</a><br>
                                {% if item.owner.id == user.id %}
                                <a href="remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0 px-3 py-2">Remove</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>