<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load my_filters %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.found-section').hide();

            $('.type').on('click', function (event) {
                if ($(event.target).hasClass('active')) {
                    return;
                }

                elementID = $(event.target).attr('id');

                if (elementID === "found-btn") {
                    $(`#${elementID}`).addClass('active');
                    $('#lost-btn').removeClass('active');
                    $('.found-section').show();
                    $('.lost-section').hide();
                } else {
                    $(`#${elementID}`).addClass('active');
                    $('#found-btn').removeClass('active');
                    $('.found-section').hide();
                    $('.lost-section').show();
                }

                $('#status').text((elementID === "found-btn") ? "#found" : "#missing");
            });

            $('#select').change(function () {
                campus = "";

                $("select option:selected").each(function () {
                    campus = $(this).text().trim();
                });

                $.ajax({
                    type: "GET",
                    url: "/update_campus",
                    data: { 'campus': campus },
                    success: function (response) {
                        $('#campus-display').text(`Coding Dojo (${campus})`);
                    }
                });
            });
        });
    </script>
    <title>Lost&Found - {{ user.first_name }} {{ user.last_name }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
        <h3 class="m-0 font-weight-bold" href="home">Lost&Found</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>•••</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center mr-auto"></ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-center ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link btn btn-light rounded-0 px-4" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-light rounded-0 px-3" href="/home/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid m-0 p-0">
        <!-- HEADER -->
        <div class="row p-0 m-0 text-center align-items-center">
            <ul class="list-inline m-0 p-1">
                <li class="m-0 p-0">
                    <ul class="list-inline m-0 p-5">
                        <li class="list-inline-item m-0 p-0 align-middle">
                            <img class="rounded-circle border border-light" width="200" height="200"
                                src="{{ user.profile_image.url }}" alt="profile_image">
                        </li>
                        <li class="list-inline-item m-0 px-5 py-4 text-center align-middle">
                            <h2 class="m-0">{{ user.first_name }} {{ user.last_name }}</h2>
                            <p class="text-secondary"><small>({{ user.level }})</small></p>

                            {% if user.id == request.session.user_id %}
                            <p id="campus-display" class="m-0">Coding Dojo ({{ user.campus }})</p>

                            <div class="form-group mt-2 mb-3">
                                <select id="select" class="form-control w-75 mx-auto rounded-0" name="campus" required>
                                    {% for campus in campuses %}
                                    <option value="{{ campus }}"
                                        {% if campus == user.campus %}selected{% else %}{% endif %}>
                                        {{ campus }}</option>
                                    {% endfor %}
                                </select>
                                <label class="form-check-label mb-1 text-secondary" for="inlineRadio1"><small>* Change
                                        campus</small></label>
                            </div>

                            {% else %}
                            <p class="m-0">Coding Dojo ({{ user.campus }})</p>
                            {% endif %}

                            <p class="m-0">{{ user.email }}</p>
                            <p class="m-0"><small>Joined {{ user.created_at.date }}</small></p>
                        </li>
                        <li class="list-inline-item m-0 py-4 px-3 text-center align-middle">
                            <p>{% if user.id == request.session.user_id %} I have {% else %} {{ user.first_name }} has
                                {% endif %}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h1 class="m-0 font-weight-bold">{{ items|missing|length }}</h1>
                                        </li>
                                        <li class="text-danger">#missing</li>
                                    </ul>
                                </li>
                                <li class="list-inline-item">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <h1 class="m-0 font-weight-bold">{{ items|found|length }}</h1>
                                        </li>
                                        <li class="text-success">#found</li>
                                    </ul>
                                </li>
                            </ul>
                            <p class="m-0 mt-3 text-secondary"><small>* At all campuses</small></p>
                        </li>
                        <li class="my-4 p-0">
                            <div class="btn-group m-0" role="group" aria-label="">
                                <button id="lost-btn" type="button" class="btn btn-light active rounded-0 type">#missing
                                    ({{ items|missing|length }})</button>
                                <button id="found-btn" type="button" class="btn btn-light rounded-0 type">#found
                                    ({{ items|found|length }})</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row py-0 px-4 m-0">
            <h4 id="status" class="px-1">#missing</h4>
        </div>
        <div class="row pb-5 px-3 m-0 lost-section">
            {% for item in items|missing %}
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 fade-in">
                <div class="padded-box p-2">
                    <ul class="list-inline m-0 pb-3 pr-3">
                        <a class="m-0 p-0 text-dark" href="/home/profile/{{ item.owner.id }}"
                            style="text-decoration: none; outline: none;">
                            <li class="list-inline-item align-middle mr-2 p-0">
                                <img class="rounded-circle m-0 p-0 border border-light" width="62.5" height="62.5"
                                    src="{{ item.owner.profile_image.url }}" alt="">
                            </li>
                            <li class="list-inline-item align-middle m-0 p-0">
                                <h6 class="m-0 font-weight-bold">@{{ item.owner.first_name }}</h6>
                                <p class="m-0 text-secondary"><small>Coding Dojo ({{ item.campus }})</small></p>
                            </li>
                        </a>
                        <li class="align-middle mt-3 p-0">
                            <h4 class="m-0">{{ item.name }}</h4>
                            <p class="m-0">{{ item.desc }}</p>
                        </li>
                    </ul>
                    <div class="image-box mb-2"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url({{ item.image.url }});">
                        <div class="content text-light">
                            <div class="bottom-left">
                                <h4 class="text-danger m-0">#missing</h4>
                                <p class="m-0 p-0 text-secondary">
                                    <small>Posted on {{ item.created_at.date }}</small>
                                </p>
                            </div>
                            <div class="text-right bottom-right">
                                <a href="/found_item/{{ item.id }}"
                                    class="btn btn-success rounded-0 px-3 py-2">Found</a><br>
                                {% if item.owner.id == request.session.user_id %}
                                <a href="remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0 px-3 py-2">Remove</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row pb-5 px-3 m-0 found-section">
            {% for item in items|found %}
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 fade-in">
                <div class="padded-box p-2">
                    <ul class="list-inline m-0 pb-3 pr-3">
                        <a class="m-0 p-0 text-dark" href="/home/profile/{{ item.owner.id }}"
                            style="text-decoration: none; outline: none;">
                            <li class="list-inline-item align-middle mr-2 p-0">
                                <img class="rounded-circle m-0 p-0" width="62.5" height="62.5"
                                    src="{{ item.owner.profile_image.url }}" alt="">
                            </li>
                            <li class="list-inline-item align-middle m-0 p-0">
                                <h6 class="m-0 font-weight-bold">@{{ item.owner.first_name }}</h6>
                                <p class="m-0 text-secondary"><small>Coding Dojo ({{ item.campus }})</small></p>
                            </li>
                        </a>
                        <li class="align-middle mt-3 p-0">
                            <h4 class="m-0">{{ item.name }}</h4>
                            <p class="m-0">{{ item.desc }}</p>
                        </li>
                    </ul>
                    <div class="image-box mb-2"
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0), black), url({{ item.image.url }});">
                        <div class="content text-light">
                            <ul class="list-inline bottom-left m-0 p-0">
                                <a class="m-0 p-0 text-light" href="/home/profile/{{ user.id }}"
                                    style="text-decoration: none; outline: none;">
                                    <li class="list-inline-item align-middle mr-2 p-0">
                                        <img class="rounded-circle m-0 p-0" width="52" height="52"
                                            src="{{ item.found_by_whom.profile_image.url }}" alt="">
                                    </li>
                                    <li class="list-inline-item align-middle m-0 p-0">
                                        <h6 class="m-0 font-weight-bold">@{{ item.found_by_whom.first_name }}</h6>
                                        <p class="m-0"><small>Found this item.</small></p>
                                    </li>
                                </a>
                                <li class="m-0 p-0 mt-2">
                                    <p class="text-secondary m-0 p-0"><small>Posted on
                                            {{ item.created_at.date }}</small></p>
                                </li>
                            </ul>

                            <div class="text-right bottom-right">
                                {% if item.owner.id == request.session.user_id %}
                                <a href="remove_item/{{ item.id }}"
                                    class="btn btn-danger rounded-0 px-3 py-2">Remove</a><br>
                                {% endif %}
                                <a href="/unfound_item/{{ item.id }}" class="btn btn-warning rounded-0 px-3 py-2">Report
                                    Missing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>