@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
* {
    font-family: 'Questrial', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    border-style: none;
    white-space: nowrap;
}

img {
    object-fit: cover;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}