@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* FONTS */

* {
    font-family: 'Questrial', sans-serif;
    word-wrap: break-word;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    justify-content: center;
}

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.image-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 75%;
    position: relative;
}

#bottom-right-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

img {
    object-fit: cover;
}

.wrapped-text {
    overflow-wrap: break-word;
}

.content-right {
    vertical-align: middle;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* .col-sm-12 {
        padding: 0px;
    } */
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops) */

/* No media query since the extra-large breakpoint has no upper bound on its width */