@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* FONTS */

* {
    font-family: 'Questrial', sans-serif;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    display: flex;
    justify-content: center;
}

.text-box {
    position: absolute;
    top: 20px;
    left: 24px;
}

#just-text {
    position: absolute;
    left: 24px;
    bottom: 14px;
}

.h-full {
    height: 100vh;
}

.w-80 {
    width: 80%;
}

.bg-trans {
    background-color: rgba(0, 0, 0, 0.5);
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

#select {
    border-radius: 0;
}